:root {
    --swiper-navigation-size: 40px;
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev.swiper-button-disabled:before {
    content: url('../images/banner/arrow-prev-disabled.svg') !important;
}

.swiper-button-next.swiper-button-disabled:before {
    content: url('../images/banner/arrow-next-disabled.svg') !important;
}

.certificate-prev-btn.swiper-button-disabled:before {
    content: url('../images/banner/mobile-arrow-prev-disabled.svg') !important;
}

.certificate-next-btn.swiper-button-disabled:before {
    content: url('../images/banner/mobile-arrow-next-disabled.svg') !important;
}

.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
    opacity: 0;
    display: none !important;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev:before {
    content: url('../images/banner/arrow-prev.svg');
}

.swiper-button-next:before {
    content: url('../images/banner/arrow-next.svg');
}

.swiper-button-next {
    right: 84px !important;
}

.swiper-button-prev {
    left: 85px !important;
}

.certificate-next-btn:before {
    content: url('../images/banner/mobile-arrow-next.svg');
}

.certificate-prev-btn:before {
    content: url('../images/banner/mobile-arrow-prev.svg');
}


@media (max-width: 1700px) {
    .swiper-button-next {
        right: 20px !important;
    }

    .swiper-button-prev {
        left: 20px !important;
    }

    .swiper-button-prev:before {
        content: url('../images/banner/mobile-arrow-prev.svg');
    }

    .swiper-button-next:before {
        content: url('../images/banner/mobile-arrow-next.svg');
    }

    .swiper-button-prev.swiper-button-disabled:before {
        content: url('../images/banner/mobile-arrow-prev-disabled.svg') !important;
    }

    .swiper-button-next.swiper-button-disabled:before {
        content: url('../images/banner/mobile-arrow-next-disabled.svg') !important;
    }
}

@media (max-width: 767px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}

@media (min-width: 1700px) {
    .swiper-button-next {
        right: 55px;
    }

    .swiper-button-prev {
        left: 55px;
    }
}
