ul.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 60px 0 0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 12px;
    color: #2C2C2C;
    font-weight: 600;
}

ul.breadcrumb li+li:before {
    content: "/\00a0";
    font-weight: 400;
}

ul.breadcrumb li a {
    color: #2C2C2C;
    text-decoration: none;
    font-weight: 400;
}

@media screen and (max-width:991px) {
    ul.breadcrumb {
        margin-bottom: 40px;
    }
}
@media screen and (max-width:767px) {
    ul.breadcrumb {
        margin: 25px 0 30px 0;
    }
}
