.not-home-header {
    background-color: var(--brown, #381F15);
    padding: 0;
}

.not-home-header .__hr {
    border-bottom: 1px solid white;
    opacity: .2;
    margin: 0 0 14px 0;
}

.not-home-header .header-bottom {
    padding-bottom: 18px;
}

.not-home-header .search-input {
    width: 100%;
    margin-left: 20px;
}

.not-home-header .search-input input {
    background-color: #EAEAE5;
    font-size: 20px;
    line-height: 140%;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 9px 135px 9px 20px;
    width: 100%;
    outline: none;
    color: var(--brown, #381F15);
    cursor: auto;
}

.not-home-header .search-input input::placeholder {
    color: #CBCAC8;
}

.not-home-header .search-input button {
    border: none;
    border-radius: 6px;
    background-color: white;
    padding: 3px 28px;
    color: var(--brown, #381F15);
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    right: 6px;
    top: 8px;
}

.not-home-header .basket-col {
    min-width: 175px !important;
    max-width: 175px !important;
}

.not-home-header .basket-icon {
    position: relative;
    width: 75px;
    margin-right: 10px;
}

.not-home-header .basket-icon .__value {
    font-size: 12px;
    line-height: normal;
    font-weight: 700;
    color: var(--brown, #381F15);
    padding: 11px 5px 12px 5px;
    border-radius: 100%;
    background-color: #E3ED73;
    position: absolute;
    top: -8px;
    right: 0;
}

.not-home-header .basket-col .basket {
    display: flex;
}

.not-home-header .dropbtn:hover path,
.not-home-header .dropbtn:focus path,
.not-home-header .dropbtn:hover circle,
.not-home-header .dropbtn:focus circle {
    stroke: #E3ED73;
}

.not-home-header .dropdown {
    position: relative;
    display: inline-block;
}

.not-home-header .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 8px;
    padding: 7px 0;
    top: 44px;
    right: 0;
    background-color:white;
    min-width: 216px;
    z-index: 10;
}

.not-home-header .dropdown-content .__hr {
    opacity: 1;
    margin: 0;
    border-bottom: 1px solid #CBCAC8;
    width: 100%;
}

.not-home-header .dropdown-content a {
    color: #2C2C2C;
    line-height: 166%;
    letter-spacing: -0.18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: block;
}

.not-home-header .show {
    display:block;
}

.not-home-header .show:after {
    content:'';
    position: absolute;
    top: 4px;
    right: 10px;
    margin-left: -10px;
    margin-top: -10px;
    width: 0;
    z-index:1;
    height: 0;
    border-bottom: solid 8px white;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}

@media (max-width: 1199px) {
    .not-home-header .search-input {
        margin: 0;
    }
}

@media (max-width: 575px) {
    .not-home-header .basket-col {
        min-width: 100% !important;
        max-width: 100% !important;
        margin-top: 5px;
    }

    .not-home-header .search-input button {

        padding: 3px 10px;
        color: var(--brown, #381F15);
    }

    .not-home-header .basket-col .basket {
        display: flex;
        width: 100%;
        margin-top: 10px;
    }

    .not-home-header .basket-icon {
        margin-right: 30px;
    }
}

@media (min-width: 1200px) {
    .not-home-header .basket-col {
        min-width: 147px !important;
        max-width: 147px !important;
    }
}
