.detail-page .history-block {
    background-color: #CED6D3;
}

.gallery-top {
    position: relative;
    width: calc(100% - 140px);
    margin-left: 40px;
}

.gallery-top .swiper-slide {
    width: 100%;
}

.gallery-top .swiper-slide img {
    height: auto !important;
    width: auto;
    max-height: 468px;
    max-width: 100%;
}

.gallery-thumbs {
    width: 100px;
}

.gallery-thumbs, .gallery-top {
    overflow: hidden;
    padding: 0;
    max-height: 468px;
}

.gallery-thumbs .swiper-wrapper {
    flex-direction: column;
}

.gallery-thumbs .swiper-slide {
    flex-flow: column nowrap;
    cursor: pointer;
    border: 1px solid #2C2C2C;
    opacity: 0.2;
    border-radius: 16px;
    width: 100px;
    max-height: 100px;
    padding: 10px;
}

.gallery-thumbs .swiper-slide-thumb-active {
    border-color: #DA9819;
    opacity: 1;
}

.gallery-thumbs .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-content: center;
}

.detail-product .detail__title {
    margin-top: 40px;
}

.detail-product .badges {
    margin-top: 30px;
}

.detail-product .detail-block {
    margin-top: 60px;
}

.detail-product .__info {
    color: #2C2C2C;
    font-size: 20px;
    line-height: 140%;
}

.detail-product nav {
    margin-left: 40px;
    margin-top: -9px;
    align-self: center;
}

.detail-product nav input {
    display: none;
}

.detail-product nav label {
    padding: 0 14px;
    font-size: 14px;
    color: #6D8880;
    border: 1px solid #6D8880;
    border-radius: 19px;
    cursor: pointer;
    /*transition: all 0.3s;*/
    display: inline-block;
    margin-right: 6px;
    margin-top: 10px;
}

.detail-product nav input:checked + label {
    background: #6D8880;
    color: white;
}

.detail-product ._line {
    margin-top: 20px;
}

.detail-product .additional {
    gap: 30px;
}

.detail-product .additional .__value {
    gap: 10px;
    color: #6D8880;
}

.detail-product .__price {
    margin-top: 24px;
}

.detail-product .__price .__value {
    font-size: 90px;
    color: #DA9819;
    font-weight: 600;
    line-height: 110%;
}

.detail-product .price-info {
    margin-top: 30px;
    border: 1px solid #CED6D3;
    font-size: 14px;
    color: #6D8880;
    padding: 15px;
    border-radius: 16px;
}

.detail-product .__buttons {
    margin-top: 32px;
}

.detail-product .__buttons .__add {
    width: 256px;
    border: 1px solid #6D8880;
    border-radius: 8px;
    font-weight: 700;
    padding: 6px 18px;
    color: #6D8880;
}

.detail-product .__buttons .__add-basket {
    width: 354px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: #6D8880;
    border: none;
    border-radius: 8px;
    transition: opacity .3s;
}

.detail-product .__buttons .__add-basket:hover {
    opacity: .7;
}

.full-description {
    margin: 20px 0 0;
    font-size: 20px;
    line-height: 140%;
    color: #2C2C2C;
}

.full-description .__title {
    font-weight: 600;
}

.full-description .wrapper {
    width: 100%;
    margin: 0 auto;
}

.full-description .wrapper ul {
    padding: 0;
    margin: 0;
}

.full-description .wrapper ul li:before {
    border-bottom: 1px solid #ccc;
    content: " ";
    flex-grow: 1;
    border-bottom: 1px dotted black;
    order: 2;
    margin: 0 3px;
}

.full-description .wrapper ul li {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    line-height: 210%;
    font-size: 14px;;
}

.full-description .wrapper ul li .amount {
    order: 3;
}

.recommend-title {
    margin-top: 120px;
}

.detail-page .tablink-bar {
    margin-top: 59px;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab__content {
    max-height: 0;
    overflow: hidden;
    font-weight: 500;
    transition: all 0.35s;
}

.tab__content p {
    margin: 20px 0 0;
}

.tab input:checked ~ .tab__content {
    max-height: max-content;
}

.accordion {
    overflow: hidden;
}

.tab__label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    color: #6D8880;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid #6D8880;
    padding: 6px 19px;
    margin-top: 20px;
}

.tab__label::after {
    content: url(../../../images/icons/toggle.svg);
    transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
    transform: rotateX(180deg);
}

.history-block .history_title {
    margin-top: 67px;
}

@media screen and (max-width: 1199px) {
    .detail-product .detail__title {
        font-weight: 800;
        font-size: 26px;
        margin-top: 0;
    }

    .detail-product .detail-block {
        margin-top: 38px;
    }

    .detail-product .badges {
        margin-top: 20px;
    }

    .gallery-top .swiper-slide img {
        max-height: 332px;
    }

    .gallery-thumbs, .gallery-top {
        max-height: 360px;
    }

    .detail-product .__price .__value {
        font-size: 80px;
    }

    .detail-product .__buttons .__add {
        width: 100%;
    }

    .detail-product .__buttons .__add-basket {
        width: 100%;
        height: 40px;
        margin-top: 10px;
    }

    .detail-page .tablink-bar {
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .detail-product .detail__title {
        margin-top: 0;
    }

    .detail-product .detail-block {
        margin-top: 20px;
    }

    .gallery-top {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding: 0;
        align-self: center;
    }

    .detail-product nav {
        margin-left: 0;
    }

    .detail-product .__price {
        margin-top: 40px;
    }

    .detail-product .__price .__value {
        font-size: 75px;
        display: flex;
        justify-content: center;
    }

    .detail-product .__info {
        font-size: 16px;
    }

    .detail-product .price-info {
        margin-top: 20px;
        padding: 9px 15px;
    }

    .detail-product .additional .__value {
        color: #2C2C2C;

    }

    .recommend-title {
        margin-top: 80px;
    }

    .history-block .history_title {
        margin-top: 60px;
    }

    .detail-product .__buttons .__add-basket {
        margin: 0;
    }

    .full-description .wrapper ul li {
        line-height: 140%;
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    .detail-product .__buttons {
        margin-top: 40px;
    }

    .detail-product .__buttons .__add {
        width: 100%;
        padding: 6px 68px;
    }

    .detail-product .__buttons .__add-basket {
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }
}
