.catalog-page .__title {
    font-size: 20px;
}

.filtered-product {
    margin-bottom: 20px;
    padding: 0 10px;
}

.catalog__bottom {
    margin-top: 120px;
}

@media screen and (max-width: 1199px) {
    .filtered-product {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:767px) {
    .filtered-product {
        margin-bottom: 20px;
        padding: 0 5px;
    }

    .catalog__bottom {
        margin-top: 20px;
    }

    .catalog-page .show-more_btn {
        margin-bottom: 40px;
    }
}
