.catalog-page .__title {
    font-size: 20px;
}

.filtered-product {
    margin-bottom: 20px;
    padding: 0 10px;
}

/*pagination*/
.pagination {
    display: inline-block;
    gap: 35px;
}

.pagination a {
    color: #2C2C2C;
    font-size: 20px;
    font-weight: 700;
    float: left;
    text-decoration: none;
}

.pagination a.active {
    color: #6D8880;
}
/*.pagination a:hover:not(.active) {background-color: #ddd;}*/

.show-more_btn {
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    border: 2px solid #6D8880;
    color: #6D8880;
    background: none;
    border-radius: 8px;
    text-decoration: none;
    padding: 6px 54px;
    transition: opacity .3s;
}

.show-more_btn:hover {
    opacity: .7;
}

.catalog__bottom {
    margin-top: 120px;
}

.marquee {
    width: 2701px;
    background-color: #DEEEE8;
    color: #2C2C2C;
    line-height: 140%;
    overflow: hidden;
    position: relative;
    height: 44px;
    padding-top: 12px;
}

.marquee div {
    height: 20px;
    display: block;
    width: 145%;

    position: absolute;
    overflow: hidden;

    animation: marquee 40s linear infinite;
}

.marquee span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

@media screen and (max-width: 1199px) {
    .filtered-product {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:767px) {
    .filtered-product {
        margin-bottom: 20px;
        padding: 0 5px;
    }

    .catalog__bottom {
        margin-top: 20px;
    }

    .show-more_btn {
        text-align: center;
        margin-bottom: 40px;
    }

    .pagination {
        display: inline-block;
        gap: 15px;
    }

    .pagination a {
        color: #2C2C2C;
        background-color: #DEEEE8;
        border-radius: 8px;
        padding: 8px 15px;
    }

    .pagination a.active {
        color: white;
        padding: 8px 15px;
        border-radius: 8px;
        background-color: #6D8880;
    }
}
