.about-us {
    color: var(--brown);
}
.about-title {
    font-size: 80px;
    font-weight: 600;
    line-height: 110%;
    margin-top: 120px;
}

.about-text {
    font-size: 30px;
    line-height: 140%;
    margin: 20px 0 40px 0;
}

.about-text b {
    font-weight: 600;
}

.infographic__box .__title {
    font-size: 56px;
    font-weight: 600;
    line-height: 140%;
    margin: 0;
}

.infographic__box .__info {
    font-size: 20px;
    line-height: 140%;
    margin: 0;
    max-width: 261px;
}

.link-title {
    font-size: 40px;
    line-height: 140%;
    text-decoration: none;
    color: var(--green-2);
    max-width: 67%;
    margin-bottom: 40px;
}

.link-title b {
    font-weight: 600;
}

.our-client {
    margin-bottom: 40px;
}

@media screen and (max-width: 1199px) {
    .about-title {
        font-size: 40px;
        margin: 80px 0 30px 0;
    }

    .link-title {
        max-width: 332px;
        font-size: 30px;
    }

    .link-title b {
        font-weight: 700;
    }
}

@media screen and (max-width:767px) {
    .about-title {
        font-size: 36px;
        line-height: 140%;
        margin: 80px 0 0;
    }

    .about-text {
        font-size: 20px;
        margin: 12px 0 30px 0;
    }

    .link-title {
        font-size: 20px;
        margin-bottom: 30px;
        max-width: 222px;
    }

    .about-text b {
        font-weight: 600;
    }

    .infographic__box .__title {
        font-size: 26px;
        font-weight: 800;
    }

    .infographic__box .__info {
        font-size: 16px;
        max-width: 159px;
    }

    .our-client {
        margin-bottom: 30px;
    }
}
