.bottom-block {
    background-color: var(--green-1-2);
    padding-bottom: 60px;
}

.form-bottom {
    background-color: var(--brown);
}

.order-form {
    color: white;
    padding: 48px 0 56px 0;
}

.order-form__title {
    font-size: 26px;
    font-weight: 800;
    line-height: unset;
}

.order-form__info {
    font-size: 18px;
    margin: 5px 0 0;
}

.form-input {
    font-weight: 500;
    font-size: 18px;
    color: var(--grey-1);
    border-radius: 8px;
    border: 1px solid white;
    padding: 0 13px;
    height: 40px;
    line-height: 140%;
    background: none;
    outline: none;
    width: 100%;
    margin-bottom: 15px;
}
.partner-form--green .form-input {
    border: 1px solid white;
}

.form-input::placeholder {
    color: white;
    opacity: .6;
}

.btn-form {
    background-color: white;
    transition-property: background-color, color;
    transition-duration: .3s;
    color: var(--brown);
    border: none;
    border-radius: 8px;
    padding: 0 0;
    width: 100%;
    font-size: 18px;
    height: 40px;
}

.partner-form--green__btn {
    color: #6D8880;
}

.btn-form:hover {
    background-color: #E3ED73;
    color: #381F15;
}

.form-submit-info {
    color: white;
    opacity: 0.8;
    font-size: 12px;
    line-height: normal;
    margin: 0;
    width: 100%;
}

.form-submit-info a {
    color: white;
}

.col-box {
    padding: 0;
}

@media screen and (max-width: 1399px) {
    .col-box {
        padding: 0 10px;
    }

    .form-input {
        margin-bottom: 15px;
    }

    .btn-form {
        margin-bottom: 9px;
    }
}

@media screen and (max-width:1199px) {
    .bottom-block {
        padding-bottom: 40px;
    }

    .form-input, .btn-form {
        margin-top: 20px;
    }

    .form-input {
        margin-bottom: 0;
    }

    .order-form {
        padding: 40px 0;
    }
}


@media screen and (max-width: 767px) {
    .order-form {
        padding: 20px 0 24px 0;
    }

    .order-form__title {
        font-size: 22px;
    }

    .order-form__info {
        font-size: 14px;
        margin: 5px 0 4px;
    }

    .form-input, .btn-form {
        margin-top: 16px;
        font-weight: 500;
    }

    .form-submit-info {
        max-width: 100%;
        margin: 16px 0 0;
    }

    .partner-form--green .form-submit-info,
    .partner-form--green .form-submit-info a  {
        color: #CBCAC8;
    }
}
