.home-banner {
    margin-top: 80px;
}

.home-banner-box {
    position: absolute;
    top: 80px;
}

.home-banner-btn {
    width: 137px;
}


@media screen and (max-width:575px) {
    .home-banner-box {
        top: 20px;
    }
}
