.news {
    background-color: var(--green-1-2);
}

.all-news {
    margin: 35px 0 120px 0;
}

.main-title {
    margin-top: 100px;
}

.main-title a {
    color: #2C2C2C;
}

.news-text {
    font-size: 40px;
    line-height: 140%;
    font-weight: 600;
    color: var(--brown);
}

.news__info-text {
    font-size: 14px;
    gap: 20px;
    padding: 0;
    color: #2C2C2C;
    text-decoration: none;
}

.news__info-text:hover ~ a svg path {
    stroke: #586C3E;
}

.news-card {
    border-radius: 22px;
}

.card-box {
    padding: 30px;
}

.card-box p {
    margin: 0 0 10px 0;
}

.news__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    color: white;
}

.news__info {
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 140%;
}

.news__text {
    color: white;
    font-size: 14px;
}

.news__first {
    background-color: white;
}

.news__second {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.20)), to(rgba(0, 0, 0, 0.20))), #586C3E;
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #586C3E;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #586C3E;
}

.news__first .news-btn a {
    background-color: #6D8880;
    color: white;
}

.news-btn a {
    line-height: 140%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    color: #6D8880;
    background-color: white;
}

.news-btn a:hover {
    opacity: .7;
}

.news__first .news-btn {
    margin-top: 90px;
}

.news__second .news-btn {
    margin-top: 30px;
}

.news__second .news-btn a {
    color: #586C3E;
}

.news-img-box {
    position: absolute;
    width: 345px;
    height: 100%;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.news__first .news-img-box {
    right: 20px;
}

.news__third {
    background-color: var(--green-1);
    height: 100%;
}

.news__third .news-btn {
    margin-top: 66px;
}

.news__third .__img {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 22px 22px;
}

.news__first .news__title {
    color: var(--green-1);
}

.news__first .news__info, .news__first .news__text {
    color: #2C2C2C;
}

@media screen and (max-width:1399px) {
    .news__third .__img {
        width: 420px;
        right: 0;
        border-radius: 0 0 22px 0;
    }

    .news__first .news-btn {
        margin: 44px 0 5px 0;
    }

    .news__third .news-btn {
        margin: 44px 0 5px 0;
    }
}

@media screen and (max-width:1199px) {
    .news__info, .news__text {
        width: 45%;
    }

    .news__third .news__info {
        width: 58%;
    }

    .news__info span {
        white-space: pre-wrap;
    }
}

@media screen and (max-width:767px) {
    .all-news {
        margin: 5px 0 65px 0;
    }

    .main-title {
        margin-top: 80px;
    }

    .news-block {
        overflow-x: scroll;
        scrollbar-width: none
    }

    .news-block::-webkit-scrollbar {
        -webkit-appearance: none;
        display: none;
    }

    .card-box {
        padding: 20px;
    }

    .news-img-box {
        position: relative;
        width: auto;
        height: 158px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .news__first .news-img-box {
        right: unset;
    }

    .news__second .news-img-box {
        margin-right: -20px;
    }

    .news__first .__img,
    .news__second .__img {
        position: relative;
        width: 100%;
        right: unset;
    }

    .news-block::-webkit-scrollbar {
        width: 0;
    }

    .news-card {
        height: 442px;
        width: 300px;
    }

    .news__first .news-btn,
    .news__second .news-btn {
        position: absolute;
        bottom: 35px;
        margin: 0 !important;
    }

    .news__third .news-btn {
        margin-top: 44px;
    }

    .news__title {
        font-size: 26px;
    }

    .news__info {
        font-size: 18px;
        font-weight: 400;
        line-height: 160%;
    }

    .news__info span {
        white-space: nowrap;
    }

    .news__third .__img {
        width: 100%;
        border-radius: 22px;
    }

    .news__info, .news__text, .news__third .news__info {
        width: 100%;
    }
}

@media screen and (max-width:575px) {
    .news-text {
        font-size: 26px;
        font-weight: 800;
    }

    .news__info-text {
        font-size: 12px;
    }
}
