header * {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.slider-btn-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    color: white;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 8px;
    background: none;
    height: 46px;
    margin-top: 26px;
    transition-property: border-color, color;
    transition-duration: .3s;
}

.slider-btn-box button svg {
    margin-right: 10px;
}

header {
    background: rgba(56, 31, 21, 0.7);
    padding: 0;
}

.header__menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    padding: 0;
    gap: 26px;
}

.header__menu li {
    cursor: pointer;
    align-self: center;
}

.header__menu li:hover a {
    transition: color .3s;
}

.header__menu li:hover a {
    color: var(--green-3);
}

.header__btn-group {
    gap: 20px;
}

.header__btn-group button {
    background: none;
    display: inline-block;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 500;
    transition-property: border-color, color;
    transition-duration: .3s;
}

.partner-btn svg path {
    transition: stroke .3s;
}

.partner-btn:hover svg path {
    stroke: var(--green-3);
}

.header__btn-group .down-btn svg path,
.header__btn-group .modal-btn svg rect,
.slider-btn-box .down-btn svg path,
.slider-btn-box .modal-btn svg rect {
    transition: stroke .3s;
}

.header__btn-group .modal-btn svg path,
.slider-btn-box .modal-btn svg path {
    transition: fill .3s;
}

.header__btn-group button svg {
    margin-right: 10px;
}

.header__btn-group button:hover,
.slider-btn-box button:hover {
    border-color: var(--green-3);
    color: var(--green-3);
}

.header__btn-group .down-btn:hover svg path,
.slider-btn-box .down-btn:hover svg path {
    stroke: var(--green-3);
}

.header__btn-group .modal-btn:hover svg path,
.slider-btn-box .modal-btn:hover svg path {
    fill: var(--green-3);
}

.header__btn-group .modal-btn:hover svg rect,
.slider-btn-box .modal-btn:hover svg rect{
    stroke: var(--green-3);
}

.header__phone {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.18px;
    line-height: 16px;
}

@media screen and (max-width:1399px) {
    header {
        padding: 13px 0;
    }
}
@media screen and (max-width:767px) {
    header {
        padding: 10px 0;
    }
}

@media screen and (max-width:575px) {
    .header__btn-group {
        gap: 18px;
    }

    .header__btn-group button {
        padding: 8px 11px;
    }
}
