.animated-link:hover ~ a svg path{
    stroke: #586C3E;
}
.product {
    padding-bottom: 120px;
}

.products-swiper {
    height: 97%;
    margin-top: 55px;
}

.product__title {
    font-size: 40px;
    font-weight: 600;
    color: var(--brown);
    /*line-height: 140%;*/
}

.product__info {
    font-size: 14px;
    gap: 20px;
    padding: 0;
}

.product__info a {
    color: #2C2C2C;
    text-decoration: none;
}

.product-card {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    position: relative;
}

.badges {
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.badges .new {
    color: var(--green-2);
}

.badges .sale {
    color: var(--warning);
}

.badges .hit {
    color: var(--yellow);
}

.product-img {
    margin: 16px 0 40px 0;
}

.product-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    margin: 0;
    color: #2C2C2C;
}

.product-price {
    font-size: 20px;
    line-height: 140%;
    color: #2C2C2C;
    display: block;
    margin-top: 6px;
}

.product-btn {
    background-color: var(--green-1);
    font-weight: 500;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 24px;
    display: block;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    transition: opacity .3s;
    position: absolute;
    width: auto;
    right: 30px;
    left: 30px;
    bottom: 30px;
}

.product-btn:hover {
    opacity: .7;
}

.product-card {
    border-radius: 12px;
    padding: 30px;
    height: 100%;
    width: 100%;
    margin: 0;
}

@media screen and (max-width:1199px) {
    .product {
        padding-bottom: 100px;
    }
}

@media screen and (max-width:767px) {
    .product {
        padding-bottom: 75px;
    }

    .product-card {
        padding: 22px;
    }

    .product-btn {
        right: 22px;
        left: 22px;
        bottom: 22px;
    }

}

@media screen and (max-width:576px) {
    .product__title {
        font-size: 26px;
        font-weight: 800;
    }

    .product__info {
        font-size: 14px;
    }

    .products-swiper {
        margin-top: 15px;
    }
}
