.product {
    height: 100% !important;
    display: block;
}

.product .__img {
    border-radius: 12px;
    min-height: 209px;
    object-fit: cover;
    object-position: top;
}

.product .badges {
    position: absolute;
    top: 20px;
    left: 30px;
    right: 30px;
}

.product .badge {
    font-size: 16px;
    color: white;
    line-height: 140%;
    padding: 0 10px;
    border-radius: 22px;
    display: inline-block;
    margin-bottom: 5px;
}

.product .badges ._sale {
    background-color: #A34D4D;
}

.product .badges ._new {
    background-color: #586C3E;
}

.product .badges ._hit {
    background-color: #AA791A;
}

.product .__title, .product .__price {
    font-size: 20px;
    line-height: 140%;
    color: #2C2C2C;
}

.product .__title {
    font-weight: 500;
    margin: 12px 0 98px 0;
}

.product .__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.product .__bottom .__btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background-color: #6D8880;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    padding: 6px 0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: opacity .3s;
}

.product .__bottom .__btn:hover {
    opacity: .7;
}

.banner-footer .__box {
    position: absolute;
    top: 26px;
}

.banner-footer__btn {
    width: 288px;
}

@media screen and (max-width:767px) {
    .product .__title, .product .__price {
        font-size: 12px;
    }

    .product .badges {
        top: 10px;
        left: 10px;
        right: 10px;
    }

    .product .__title {
        margin: 12px 0 70px 0;
    }

    .product .__bottom .__btn {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 400;
    }
}
