.swiper-flex-img {
    height: 100%;
}

.swiper-flex-img .swiper-slide {
    width: 28%;
}

.swiper-flex-img .flex-slide {
    max-width: 15%;
}

.swiper-flex-img .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1199px) {
    .swiper-flex-img {
        max-height: initial;
    }

    .swiper-flex-img .swiper-slide {
        width: 52%;
    }

    .swiper-flex-img .flex-slide {
        max-width: 28%;
    }
}

@media screen and (max-width:767px) {
    .swiper-flex-img .swiper-slide {
        width: 110%;
    }

    .swiper-flex-img .swiper-wrapper {
        height: 93% !important;
    }

    .swiper-flex-img .flex-slide {
        max-width: 52%;
    }
}
